body {
    font-family: Arial, Helvetica, sans-serif;
}

.helpBanner {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0A0B31;
    color: #939399;
}

.helpNav {
    flex-direction: row;
    display: flex;
}

.mainBanner {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    background-color: #F1F3F5;
}

.logo {
    font-family: "Macondo Swash Caps", 'Times New Roman', Times, serif;
    font-size: 32px;
}
.logoAccent {
    color: #F98C00;
}


.mainNav {
    display: flex;
    flex-direction: row;
}

.mainNav p {
    background-color: #0A0B31;
    color: #F1F3F5;
}


.landingSection {
    position: relative;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #F1F3F5;
}

.landingImage {
    max-width: 1050px;
    
    border-radius: 10px;
}


.landingText {
    padding-left: 15%;
    padding-right: 15%;
    position: absolute;
    top: 100px;
    left: 100px;
}

.landingButton {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    background-color: #F98C00;
}

.selectionCircles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .5em;
    margin: 10px;
    
}

.circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #a8a8a8;
    outline-color: rgb(59, 59, 59);
    outline-width: 2px;
    outline-style: solid;
    
}

.circle:nth-child(1) {
    background-color: rgb(59, 59, 59);
}